
<%if flash[:notice]%>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done!</strong> <%= notice %>
  </div>
<%end%>
<h1>
<% if request.original_url.split('=').last.include? '/'%>
  All Articles
<% else %>
  All <%= request.original_url.split('=').last%> Articles
<% end %>
</h1>



    <% @articles.each do |article| %>
        <h2><%= link_to article.title, article %></h2>
        <p><%= truncate(article.body, length: 100)%></p>
    <% end %>
